<footer>
  <span class="text-sm">
    <a href="/about">about</a> &mdash;
    <a
      href="https://github.com/epfl-si/startpage/releases/tag/v<%= version %>"
      target="_blank"
      >v<%= version %></a
    >
    &mdash;
    <a href="https://github.com/epfl-si/startpage/issues/new" target="_blank"
      >issues</a
    >
    &mdash; <a href="/help">help</a> &mdash;
    <a href="https://github.com/epfl-si/startpage" target="_blank">source</a>
  </span>
</footer>
