<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://web2018.epfl.ch/6.4.0/css/elements.min.css"
/>
<link rel="stylesheet" href="/css/search.css" />
<title>Startpage</title>
