<header class="fixed-top d-flex justify-content-end">
  <div class="custom-control custom-switch mt-1 mr-3">
    <input type="checkbox" class="custom-control-input" id="switchDarkMode" />
    <label class="text-sm custom-control-label" for="switchDarkMode">
      <svg class="icon feather" aria-hidden="true">
        <use xlink:href="#moon"></use>
      </svg>
    </label>
  </div>
</header>
