<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body>
    <%- include('partials/header'); -%>
    <div class="container mt-5 main-content">
      <div class="welcome"><a href="/">Startpage</a> > About</div>
      <hr />
      <div class="col-auto">
        <div class="row">
          <div class="col-sm">
            <h3>À propos</h3>
            <p>
              Ce projet, démarré fin 2023 par des membres de l'équipe
              <a href="https://go.epfl.ch/isas-fsd" target="blank">ISAS-FSD</a>
              de l'EPFL, à pour but de proposer une «<cite
                ><a href="https://github.com/jnmcfly/awesome-startpage"
                  >startpage</a
                ></cite
              >» ayant pour objectifs de :
            </p>
            <ul>
              <li>
                Fournir une excellente page d'accueil pour la communauté de
                l'EPFL ;
                <!-- (<a href="https://knowyourmeme.com/memes/stonks">#productivitystonks</a>)-->
              </li>
              <li>
                Être utile pour différents rôles (étudiants, chercheurs,
                administrateurs, techniciens, etc...) ;
              </li>
              <li>Répertorier tous les services utiles de l'EPFL ;</li>
              <li>
                Être intuitive, efficace, configurable et facile à utiliser.
              </li>
            </ul>

            <h5>Tech stack</h5>
            <p>Node, Express, ejs, pnpm, ...</p>

            <h5>Licence</h5>
            <p>
              <a
                href="https://github.com/epfl-si/startpage/blob/main/LICENSE"
                target="_blank"
                >MIT</a
              >.
            </p>

            <h5>Participer</h5>
            <p>
              Nous ❤ les
              <cite
                ><a
                  href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests"
                  target="_blank"
                  >Pull Request</a
                ></cite
              >
              ! Rendez-vous sur le
              <a href="https://github.com/epfl-si/startpage" target="_blank"
                >dépôt GitHub</a
              >
              pour faire vos propositions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row">
          <div class="col-sm">
            <hr />
            <h3>About</h3>
            <p>
              This project, initiated at the end of 2023 by members of the
              <a href="https://go.epfl.ch/isas-fsd" target="blank">ISAS-FSD</a>
              team at EPFL, aims to create a "<cite
                ><a href="https://github.com/jnmcfly/awesome-startpage"
                  >startpage</a
                ></cite
              >" with the following objectives:
            </p>
            <ul>
              <li>Provide an excellent homepage for the EPFL community</li>
              <li>
                Be useful for different roles (students, researchers,
                administrators, technicians, etc...)
              </li>
              <li>Catalog all the useful services at EPFL</li>
              <li>Be intuitive, efficient, configurable, and easy to use</li>
            </ul>

            <h5>Tech stack</h5>
            <p>Node, Express, ejs, pnpm, ...</p>

            <h5>License</h5>
            <p>
              <a
                href="https://github.com/epfl-si/startpage/blob/main/LICENSE"
                target="_blank"
                >MIT</a
              >.
            </p>

            <h5>Contribute</h5>
            <p>
              We ❤
              <cite
                ><a
                  href="https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests"
                  target="_blank"
                  >Pull Request</a
                ></cite
              >! Please head to the
              <a href="https://github.com/epfl-si/startpage" target="_blank"
                >GitHub repository</a
              >
              to submit your proposals.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer'); -%>
    <!-- prettier-ignore -->
    <%- include('partials/footer_scripts'); -%>
  </body>
</html>
