<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://web2018.epfl.ch/6.4.0/css/elements.min.css">
    <title>Startpage</title>
  </head>

  <body>
    <div class="container mt-5">
      <div class="search-bar">
        <div class="d-flex">
          <div class="w-100 mr-2">
            <p class="search-container icon-right">
              <input type="search" name="search" placeholder="Search…"
                autofocus="autofocus" class="form-control form-control-search">
              <svg aria-hidden="true" class="icon">
                <use xlink:href="#icon-search"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      svgPath = 'https://web2018.epfl.ch/6.4.0/icons/icons.svg';
      featherSvgPath = 'https://web2018.epfl.ch/6.4.0/icons/feather-sprite.svg';
    </script>
    <script src="https://web2018.epfl.ch/6.4.0/js/elements.min.js"></script>
  </body>
</html>
