<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div class="container mt-5">
      <div class="search-bar">
        <div class="d-flex">
          <div class="w-100 mr-2">
            <p class="search-container icon-right">
              <input id="search-input" type="search" name="search" placeholder="Search…"
                autofocus="autofocus" class="form-control form-control-search">
              <svg aria-hidden="true" class="icon">
                <use xlink:href="#icon-search"></use>
              </svg>
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <%- include('partials/footer'); %>
    </footer>
  </body>
</html>
