<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>

  <body>
    <div class="container mt-5">
      EPFL start page
      <hr>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup">Username</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div id="search_on" class="input-group-text">EPFL</div>
          </div>
          <input id="dynamic_search" type="text" class="form-control" placeholder="Search…">
        </div>
      </div>
    </div>

    <footer><%- include('partials/footer'); %></footer>
  </body>
</html>
